In [35]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, mean_squared_error,make_scorer, accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

In [34]:
df = pd.read_csv('D:\OneDrive - NITT\Custom_Download\Social_Network_Ads (1).csv')
df = df.drop('User ID',axis=1)
df = pd.get_dummies(df)

result = {}
for i in range(0,50):
    n = (1+i/10)
    df['NEstimatedSalary'] = df['EstimatedSalary']*n
#     print()
    X = df.drop(['Purchased','EstimatedSalary'],axis=1)
    y = df['Purchased']

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

    clf = DecisionTreeClassifier(random_state=42)
    clf.fit(X_train,y_train)

    pred = clf.predict(X_test)

    acc = accuracy_score(y_test,pred)
    result[i] = acc
    print(n,'->acc',acc)

1.0 ->acc 0.8712121212121212
1.1 ->acc 0.8712121212121212
1.2 ->acc 0.8712121212121212
1.3 ->acc 0.8712121212121212
1.4 ->acc 0.8712121212121212
1.5 ->acc 0.8712121212121212
1.6 ->acc 0.8712121212121212
1.7 ->acc 0.8712121212121212
1.8 ->acc 0.8712121212121212
1.9 ->acc 0.8712121212121212
2.0 ->acc 0.8712121212121212
2.1 ->acc 0.8712121212121212
2.2 ->acc 0.8712121212121212
2.3 ->acc 0.8712121212121212
2.4 ->acc 0.8712121212121212
2.5 ->acc 0.8712121212121212
2.6 ->acc 0.8712121212121212
2.7 ->acc 0.8712121212121212
2.8 ->acc 0.8712121212121212
2.9 ->acc 0.8712121212121212
3.0 ->acc 0.8712121212121212
3.1 ->acc 0.8712121212121212
3.2 ->acc 0.8712121212121212
3.3 ->acc 0.8712121212121212
3.4 ->acc 0.8712121212121212
3.5 ->acc 0.8712121212121212
3.6 ->acc 0.8712121212121212
3.7 ->acc 0.8712121212121212
3.8 ->acc 0.8712121212121212
3.9 ->acc 0.8712121212121212
4.0 ->acc 0.8712121212121212
4.1 ->acc 0.8712121212121212
4.2 ->acc 0.8712121212121212
4.3 ->acc 0.8712121212121212
4.4 ->acc 0.8712121212121212
4.5 ->acc 0.8712121212121212
4.6 ->acc 0.8712121212121212
4.7 ->acc 0.8712121212121212
4.8 ->acc 0.8712121212121212
4.9 ->acc 0.8712121212121212
5.0 ->acc 0.8712121212121212
5.1 ->acc 0.8712121212121212
5.2 ->acc 0.8712121212121212
5.3 ->acc 0.8712121212121212
5.4 ->acc 0.8712121212121212
5.5 ->acc 0.8712121212121212
5.6 ->acc 0.8712121212121212
5.7 ->acc 0.8712121212121212
5.8 ->acc 0.8712121212121212
5.9 ->acc 0.8712121212121212

In [ ]:
0.87121212

In [27]:
df

     Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male  NewAge
0     19            19000          0              0            1    28.5
1     35            20000          0              0            1    52.5
2     26            43000          0              1            0    39.0
3     27            57000          0              1            0    40.5
4     19            76000          0              0            1    28.5
..   ...              ...        ...            ...          ...     ...
395   46            41000          1              1            0    69.0
396   51            23000          1              0            1    76.5
397   50            20000          1              1            0    75.0
398   36            33000          0              0            1    54.0
399   49            36000          1              1            0    73.5

[400 rows x 6 columns]

In [42]:
df = pd.read_csv('D:\OneDrive - NITT\Custom_Download\Social_Network_Ads (1).csv')
df = df.drop('User ID',axis=1)
df = pd.get_dummies(df)
X = df.drop(['Purchased'],axis=1)
y = df['Purchased']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

clf = LogisticRegression()
clf.fit(X_train,y_train)

pred = clf.predict(X_test)

acc = accuracy_score(y_test,pred)

In [47]:
for i ,j in zip(clf.feature_names_in_,clf.coef_[0]):
    print(i,j)

Age 0.14973680744612355
EstimatedSalary 2.6976652092860907e-05
Gender_Female -2.8061162575622043
Gender_Male -2.6676460994567086

In [48]:
acc

0.8409090909090909

In [39]:
clf.intercept_

array([-7.23223819])

# drop correlated features

In [ ]:
# Create correlation matrix
corr_matrix = df_train.corr().abs()

# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(bool))

# Find features with correlation greater than 0.95
to_drop = [column for column in upper.columns if any(upper[column] > 0.97)] #96

# Drop features 
df.drop(to_drop, axis=1, inplace=True)