In [172]:
import pandas as pd

In [51]:
df = pd.read_csv('mtechdl.csv')

In [52]:
df

         Roll  Marks Grade
0   205223001   90.0     S
1   205223002   82.0     A
2   205223003   82.5     A
3   205223004   91.0     S
4   205223005   72.0     B
5   205223006   88.0     S
6   205223007   71.0     B
7   205223008   83.0     A
8   205223009   84.0     A
9   205223010   83.0     A
10  205223011   92.0     S
11  205223012   73.0     B
12  205223013   75.0     B
13  205223014   74.0     B
14  205223015   89.0     S
15  205223016   82.0     A
16  205223017   73.0     B
17  205223018   83.0     A
18  205223019   83.5     A
19  205223020   73.0     B
20  205223021   83.0     A
21  205223022   75.0     B
22  205223023   88.5     S
23  205223024   81.5     A
24  205223025   76.0     B
25  205223026   81.0     A
26  205223027   81.5     A
27  205223029   75.5     B

In [ ]:
[]

In [42]:
import pandas as pd
import math

# Read the CSV file into a pandas DataFrame
# df = pd.read_csv('marks.csv')

# Function to split marks into 12 columns as specified
def split_marks(marks):
    marks_distribution = [min(marks, 4) for _ in range(10)]  # First 10 columns have maximum 4 marks each
    remaining_marks = marks - sum(marks_distribution)
    marks_distribution.extend([min(remaining_marks/2, 30), min(remaining_marks/2, 30)])  # Last 2 columns have maximum 30 marks each
    return marks_distribution

# Apply the split_marks function to each row to create new columns
df[['Marks_1', 'Marks_2', 'Marks_3', 'Marks_4', 'Marks_5', 'Marks_6', 'Marks_7', 'Marks_8', 'Marks_9', 'Marks_10', 'Marks_11', 'Marks_12']] = df.apply(lambda row: pd.Series(split_marks(row['Marks'])), axis=1)

# Drop the original 'marks' column
# df.drop('marks', axis=1, inplace=True)

# Write the transformed DataFrame to a new CSV file
# df.to_csv('transformed_marks.csv', index=False)

In [40]:
df.drop('aa', axis=1, inplace=True)

In [39]:
df['aa'] = df.iloc[:,3:].sum(axis=1)

In [43]:
df

,Roll,Marks,Grade,Marks_1,Marks_2,Marks_3,Marks_4,Marks_5,Marks_6,Marks_7,Marks_8,Marks_9,Marks_10,Marks_11,Marks_12
0,205223001,90.0,S,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,25.00,25.00
1,205223002,82.0,A,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,21.00,21.00
2,205223003,82.5,A,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,21.25,21.25
3,205223004,91.0,S,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,25.50,25.50
4,205223005,72.0,B,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,16.00,16.00
5,205223006,88.0,S,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,24.00,24.00
6,205223007,71.0,B,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,15.50,15.50
7,205223008,83.0,A,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,21.50,21.50
8,205223009,84.0,A,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,22.00,22.00
9,205223010,83.0,A,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,21.50,21.50
10,205223011,92.0,S,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,26.00,26.00
11,205223012,73.0,B,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,16.50,16.50
12,205223013,75.0,B,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,17.50,17.50
13,205223014,74.0,B,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,17.00,17.00
14,205223015,89.0,S,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,24.50,24.50
15,205223016,82.0,A,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,21.00,21.00
16,205223017,73.0,B,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,16.50,16.50
17,205223018,83.0,A,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,21.50,21.50
18,205223019,83.5,A,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,21.75,21.75
19,205223020,73.0,B,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,16.50,16.50
20,205223021,83.0,A,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,21.50,21.50
21,205223022,75.0,B,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,17.50,17.50
22,205223023,88.5,S,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,24.25,24.25
23,205223024,81.5,A,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,20.75,20.75
24,205223025,76.0,B,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,18.00,18.00
25,205223026,81.0,A,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,20.50,20.50
26,205223027,81.5,A,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,20.75,20.75
27,205223029,75.5,B,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,17.75,17.75

In [44]:
import random

In [88]:
f = lambda : random.sample([3,4,3.5]*5,k=10)

In [89]:
f()

[3.5, 3, 3, 3, 4, 3.5, 4, 3, 3, 3.5]

In [61]:
df

         Roll  Marks Grade
0   205223001   90.0     S
1   205223002   82.0     A
2   205223003   82.5     A
3   205223004   91.0     S
4   205223005   72.0     B
5   205223006   88.0     S
6   205223007   71.0     B
7   205223008   83.0     A
8   205223009   84.0     A
9   205223010   83.0     A
10  205223011   92.0     S
11  205223012   73.0     B
12  205223013   75.0     B
13  205223014   74.0     B
14  205223015   89.0     S
15  205223016   82.0     A
16  205223017   73.0     B
17  205223018   83.0     A
18  205223019   83.5     A
19  205223020   73.0     B
20  205223021   83.0     A
21  205223022   75.0     B
22  205223023   88.5     S
23  205223024   81.5     A
24  205223025   76.0     B
25  205223026   81.0     A
26  205223027   81.5     A
27  205223029   75.5     B

In [90]:
import numpy as np

In [91]:
df[['Marks_1', 'Marks_2', 'Marks_3', 'Marks_4', 'Marks_5', 'Marks_6', 'Marks_7', 'Marks_8', 'Marks_9', 'Marks_10']]=np.array([f() for i in range(28)])

In [118]:
df

,Roll,Marks,Grade,Marks_1,Marks_2,Marks_3,Marks_4,Marks_5,Marks_6,Marks_7,Marks_8,Marks_9,Marks_10,Marks_11,Marks_12
0,205223001,90.0,S,4.0,3.0,4.0,3.5,3.0,3.0,3.5,3.5,3.0,4.0,1,1
1,205223002,82.0,A,4.0,3.0,3.0,3.0,4.0,3.5,3.5,3.0,4.0,4.0,1,1
2,205223003,82.5,A,3.5,3.5,3.5,3.5,4.0,3.0,4.0,4.0,3.5,4.0,1,1
3,205223004,91.0,S,3.0,4.0,4.0,3.5,3.0,4.0,4.0,3.5,3.5,3.0,1,1
4,205223005,72.0,B,3.5,3.0,3.0,3.5,4.0,4.0,3.5,4.0,3.0,4.0,1,1
5,205223006,88.0,S,3.0,3.5,3.5,3.5,3.5,4.0,3.5,4.0,3.0,3.0,1,1
6,205223007,71.0,B,4.0,3.5,3.5,4.0,4.0,3.0,3.5,3.0,4.0,3.5,1,1
7,205223008,83.0,A,4.0,3.0,3.5,3.0,3.0,4.0,4.0,4.0,3.5,3.0,1,1
8,205223009,84.0,A,3.5,3.0,3.0,3.5,4.0,3.5,4.0,3.0,4.0,4.0,1,1
9,205223010,83.0,A,3.0,4.0,3.0,3.5,3.5,3.0,3.5,4.0,4.0,3.0,1,1
10,205223011,92.0,S,3.5,4.0,3.5,4.0,3.0,4.0,4.0,3.5,3.0,3.0,1,1
11,205223012,73.0,B,4.0,3.5,3.5,3.0,4.0,3.0,3.5,4.0,3.0,3.5,1,1
12,205223013,75.0,B,4.0,3.5,3.5,3.0,4.0,3.5,3.0,4.0,4.0,3.0,1,1
13,205223014,74.0,B,3.5,3.0,4.0,3.5,3.5,4.0,3.0,4.0,3.0,4.0,1,1
14,205223015,89.0,S,4.0,3.5,3.5,4.0,4.0,3.0,3.0,3.5,4.0,3.5,1,1
15,205223016,82.0,A,3.0,4.0,3.5,4.0,3.0,4.0,3.5,3.0,4.0,3.5,1,1
16,205223017,73.0,B,3.0,3.5,3.5,4.0,3.5,3.5,4.0,4.0,4.0,3.0,1,1
17,205223018,83.0,A,3.5,3.0,3.5,3.5,3.0,4.0,4.0,3.5,3.0,4.0,1,1
18,205223019,83.5,A,3.5,3.0,3.0,3.5,4.0,4.0,4.0,4.0,3.5,3.0,1,1
19,205223020,73.0,B,3.5,3.0,4.0,3.0,3.0,3.5,4.0,3.5,3.5,4.0,1,1
20,205223021,83.0,A,3.0,4.0,3.5,4.0,3.0,3.0,3.5,3.5,3.5,4.0,1,1
21,205223022,75.0,B,3.5,3.5,4.0,3.5,3.5,3.0,4.0,4.0,3.5,3.0,1,1
22,205223023,88.5,S,3.5,3.5,4.0,3.0,3.5,3.0,3.5,4.0,4.0,3.0,1,1
23,205223024,81.5,A,4.0,3.5,3.0,3.5,4.0,3.5,3.0,3.5,3.0,3.0,1,1
24,205223025,76.0,B,3.5,4.0,3.0,3.5,3.0,3.0,3.0,4.0,3.0,3.5,1,1
25,205223026,81.0,A,4.0,3.0,3.5,4.0,3.0,4.0,3.0,4.0,3.5,3.5,1,1
26,205223027,81.5,A,3.0,4.0,4.0,3.5,4.0,4.0,3.5,3.0,3.0,3.5,1,1
27,205223029,75.5,B,3.0,3.5,4.0,3.0,3.5,3.5,3.0,4.0,3.5,4.0,1,1

In [116]:
random.sample(list(range(27,29)),1)[0]

27

In [145]:
df[~(df['Marks'] == df['remain'])].index

Int64Index([4, 7, 9, 10, 11, 14, 17, 18, 20, 22, 23, 24], dtype='int64')

In [146]:
df.to_csv('final.csv',index=True)

In [133]:
def split_number(number):
    part_45 = round(number * 0.45 * 2) / 2  # 45% part in multiples of 0.5
    part_55 = round(number * 0.55 * 2) / 2  # 55% part in multiples of 0.5
    return part_45, part_55

In [134]:
df['Marks_11'] = df['remain'].apply(lambda x:split_column(x)[0])
df['Marks_12'] = df['remain'].apply(lambda x:split_column(x)[1])

In [138]:
df['remain'] = df.iloc[:,3:-1].sum(axis=1)

In [93]:
def split_column(column):
    column1 = column.clip(upper=29)  # Ensure values in column1 are less than 30
    column2 = column - column1       # Column2 gets the remainder
    return column1, column2

# Apply the split_column function to the column you want to split
column1, column2 = split_column(df['your_numerical_column'])

# Add the new columns to the DataFrame
df['column1'] = column1
df['column2'] = column2

,Roll,Marks,Grade,Marks_1,Marks_2,Marks_3,Marks_4,Marks_5,Marks_6,Marks_7,Marks_8,Marks_9,Marks_10,Marks_11,Marks_12
0,205223001,90.0,S,4.0,3.0,4.0,3.5,3.0,3.0,3.5,3.5,3.0,4.0,1,1
1,205223002,82.0,A,4.0,3.0,3.0,3.0,4.0,3.5,3.5,3.0,4.0,4.0,1,1
2,205223003,82.5,A,3.5,3.5,3.5,3.5,4.0,3.0,4.0,4.0,3.5,4.0,1,1
3,205223004,91.0,S,3.0,4.0,4.0,3.5,3.0,4.0,4.0,3.5,3.5,3.0,1,1
4,205223005,72.0,B,3.5,3.0,3.0,3.5,4.0,4.0,3.5,4.0,3.0,4.0,1,1
5,205223006,88.0,S,3.0,3.5,3.5,3.5,3.5,4.0,3.5,4.0,3.0,3.0,1,1
6,205223007,71.0,B,4.0,3.5,3.5,4.0,4.0,3.0,3.5,3.0,4.0,3.5,1,1
7,205223008,83.0,A,4.0,3.0,3.5,3.0,3.0,4.0,4.0,4.0,3.5,3.0,1,1
8,205223009,84.0,A,3.5,3.0,3.0,3.5,4.0,3.5,4.0,3.0,4.0,4.0,1,1
9,205223010,83.0,A,3.0,4.0,3.0,3.5,3.5,3.0,3.5,4.0,4.0,3.0,1,1
10,205223011,92.0,S,3.5,4.0,3.5,4.0,3.0,4.0,4.0,3.5,3.0,3.0,1,1
11,205223012,73.0,B,4.0,3.5,3.5,3.0,4.0,3.0,3.5,4.0,3.0,3.5,1,1
12,205223013,75.0,B,4.0,3.5,3.5,3.0,4.0,3.5,3.0,4.0,4.0,3.0,1,1
13,205223014,74.0,B,3.5,3.0,4.0,3.5,3.5,4.0,3.0,4.0,3.0,4.0,1,1
14,205223015,89.0,S,4.0,3.5,3.5,4.0,4.0,3.0,3.0,3.5,4.0,3.5,1,1
15,205223016,82.0,A,3.0,4.0,3.5,4.0,3.0,4.0,3.5,3.0,4.0,3.5,1,1
16,205223017,73.0,B,3.0,3.5,3.5,4.0,3.5,3.5,4.0,4.0,4.0,3.0,1,1
17,205223018,83.0,A,3.5,3.0,3.5,3.5,3.0,4.0,4.0,3.5,3.0,4.0,1,1
18,205223019,83.5,A,3.5,3.0,3.0,3.5,4.0,4.0,4.0,4.0,3.5,3.0,1,1
19,205223020,73.0,B,3.5,3.0,4.0,3.0,3.0,3.5,4.0,3.5,3.5,4.0,1,1
20,205223021,83.0,A,3.0,4.0,3.5,4.0,3.0,3.0,3.5,3.5,3.5,4.0,1,1
21,205223022,75.0,B,3.5,3.5,4.0,3.5,3.5,3.0,4.0,4.0,3.5,3.0,1,1
22,205223023,88.5,S,3.5,3.5,4.0,3.0,3.5,3.0,3.5,4.0,4.0,3.0,1,1
23,205223024,81.5,A,4.0,3.5,3.0,3.5,4.0,3.5,3.0,3.5,3.0,3.0,1,1
24,205223025,76.0,B,3.5,4.0,3.0,3.5,3.0,3.0,3.0,4.0,3.0,3.5,1,1
25,205223026,81.0,A,4.0,3.0,3.5,4.0,3.0,4.0,3.0,4.0,3.5,3.5,1,1
26,205223027,81.5,A,3.0,4.0,4.0,3.5,4.0,4.0,3.5,3.0,3.0,3.5,1,1
27,205223029,75.5,B,3.0,3.5,4.0,3.0,3.5,3.5,3.0,4.0,3.5,4.0,1,1

In [203]:
df = pd.read_csv('final.csv')

In [204]:
df = df.drop('Unnamed: 0',axis=1)

In [201]:
df['Weekly'] = df.iloc[:,3:-2].sum(axis=1)

In [207]:
df['CT1'] = df[['Marks_1' ,'Marks_2' ,'Marks_3' ,'Marks_4' ,'Marks_5']].sum(axis=1)
df['CT2'] = df[['Marks_6' ,'Marks_7' ,'Marks_8' ,'Marks_9' ,'Marks_10']].sum(axis=1)

In [184]:
df['CT1'] = df['Marks_11'].apply(lambda x:x//2)

In [185]:
df['CT2'] = df['Marks_11'] - df['CT1']

In [217]:
# df[['CT1' ,'CT2' ,'Marks_11' ,'Marks_12']]

In [219]:
df[['Roll','Marks','Grade','CT1','CT2','Marks_11','Marks_12']].to_csv('new.csv',index=False)

In [176]:
all(df['Marks'] == df.iloc[:,4:].sum(axis=1))

False

In [171]:
df.iloc[:,4:-2].sum(axis=1)

0     34.5
1     35.0
2     36.5
3     35.5
4     35.5
5     34.5
6     36.0
7     35.0
8     35.5
9     34.5
10    35.5
11    35.0
12    35.5
13    35.5
14    36.0
15    35.5
16    36.0
17    35.0
18    35.5
19    35.0
20    35.0
21    35.5
22    35.0
23    34.0
24    33.5
25    35.5
26    35.5
27    35.0
dtype: float64

In [220]:
df

,Roll,Marks,Grade,Marks_1,Marks_2,Marks_3,Marks_4,Marks_5,Marks_6,Marks_7,Marks_8,Marks_9,Marks_10,Marks_11,Marks_12,CT1,CT2
0,205223001,90.0,S,4.0,3.0,4.0,3.5,3.0,3.0,3.5,3.5,3.0,4.0,27,28.5,17.5,17.0
1,205223002,82.0,A,4.0,3.0,3.0,3.0,4.0,3.5,3.5,3.0,4.0,4.0,27,20.0,17.0,18.0
2,205223003,82.5,A,3.5,3.5,3.5,3.5,4.0,3.0,4.0,4.0,3.5,4.0,28,18.0,18.0,18.5
3,205223004,91.0,S,3.0,4.0,4.0,3.5,3.0,4.0,4.0,3.5,3.5,3.0,27,28.5,17.5,18.0
4,205223005,72.0,B,3.5,3.0,3.0,3.5,4.0,4.0,3.5,4.0,3.0,4.0,20,16.5,17.0,18.5
5,205223006,88.0,S,3.0,3.5,3.5,3.5,3.5,4.0,3.5,4.0,3.0,3.0,28,25.5,17.0,17.5
6,205223007,71.0,B,4.0,3.5,3.5,4.0,4.0,3.0,3.5,3.0,4.0,3.5,21,14.0,19.0,17.0
7,205223008,83.0,A,4.0,3.0,3.5,3.0,3.0,4.0,4.0,4.0,3.5,3.0,27,21.0,16.5,18.5
8,205223009,84.0,A,3.5,3.0,3.0,3.5,4.0,3.5,4.0,3.0,4.0,4.0,28,20.5,17.0,18.5
9,205223010,83.0,A,3.0,4.0,3.0,3.5,3.5,3.0,3.5,4.0,4.0,3.0,27,21.5,17.0,17.5
10,205223011,92.0,S,3.5,4.0,3.5,4.0,3.0,4.0,4.0,3.5,3.0,3.0,28,28.5,18.0,17.5
11,205223012,73.0,B,4.0,3.5,3.5,3.0,4.0,3.0,3.5,4.0,3.0,3.5,20,18.0,18.0,17.0
12,205223013,75.0,B,4.0,3.5,3.5,3.0,4.0,3.5,3.0,4.0,4.0,3.0,28,11.5,18.0,17.5
13,205223014,74.0,B,3.5,3.0,4.0,3.5,3.5,4.0,3.0,4.0,3.0,4.0,27,11.5,17.5,18.0
14,205223015,89.0,S,4.0,3.5,3.5,4.0,4.0,3.0,3.0,3.5,4.0,3.5,27,26.0,19.0,17.0
15,205223016,82.0,A,3.0,4.0,3.5,4.0,3.0,4.0,3.5,3.0,4.0,3.5,27,19.5,17.5,18.0
16,205223017,73.0,B,3.0,3.5,3.5,4.0,3.5,3.5,4.0,4.0,4.0,3.0,27,10.0,17.5,18.5
17,205223018,83.0,A,3.5,3.0,3.5,3.5,3.0,4.0,4.0,3.5,3.0,4.0,27,21.0,16.5,18.5
18,205223019,83.5,A,3.5,3.0,3.0,3.5,4.0,4.0,4.0,4.0,3.5,3.0,27,21.0,17.0,18.5
19,205223020,73.0,B,3.5,3.0,4.0,3.0,3.0,3.5,4.0,3.5,3.5,4.0,28,10.0,16.5,18.5
20,205223021,83.0,A,3.0,4.0,3.5,4.0,3.0,3.0,3.5,3.5,3.5,4.0,27,21.0,17.5,17.5
21,205223022,75.0,B,3.5,3.5,4.0,3.5,3.5,3.0,4.0,4.0,3.5,3.0,27,12.5,18.0,17.5
22,205223023,88.5,S,3.5,3.5,4.0,3.0,3.5,3.0,3.5,4.0,4.0,3.0,27,26.5,17.5,17.5
23,205223024,81.5,A,4.0,3.5,3.0,3.5,4.0,3.5,3.0,3.5,3.0,3.0,27,20.5,18.0,16.0
24,205223025,76.0,B,3.5,4.0,3.0,3.5,3.0,3.0,3.0,4.0,3.0,3.5,27,15.5,17.0,16.5
25,205223026,81.0,A,4.0,3.0,3.5,4.0,3.0,4.0,3.0,4.0,3.5,3.5,27,18.5,17.5,18.0
26,205223027,81.5,A,3.0,4.0,4.0,3.5,4.0,4.0,3.5,3.0,3.0,3.5,27,19.0,18.5,17.0
27,205223029,75.5,B,3.0,3.5,4.0,3.0,3.5,3.5,3.0,4.0,3.5,4.0,28,12.5,17.0,18.0

In [221]:
df1 = df[['Roll','Marks','Grade','CT1','CT2','Marks_11','Marks_12']]

In [227]:
df1['Marks'] = np.ceil(df1['Marks'])

C:\Users\avitr\AppData\Local\Temp\ipykernel_20504\711871153.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Marks'] = np.ceil(df1['Marks'])

In [224]:
import numpy as np

In [226]:
np.ceil(0.5)

1.0

In [232]:
df1

         Roll  Marks Grade   CT1   CT2  Marks_11  Marks_12
0   205223001   90.0     S  17.5  17.0        27      28.5
1   205223002   82.0     A  17.0  18.0        27      20.0
2   205223003   83.0     A  18.0  18.5        28      18.0
3   205223004   91.0     S  17.5  18.0        27      28.5
4   205223005   72.0     B  17.0  18.5        20      16.5
5   205223006   88.0     S  17.0  17.5        28      25.5
6   205223007   71.0     B  19.0  17.0        21      14.0
7   205223008   83.0     A  16.5  18.5        27      21.0
8   205223009   84.0     A  17.0  18.5        28      20.5
9   205223010   83.0     A  17.0  17.5        27      21.5
10  205223011   92.0     S  18.0  17.5        28      28.5
11  205223012   73.0     B  18.0  17.0        20      18.0
12  205223013   75.0     B  18.0  17.5        28      11.5
13  205223014   74.0     B  17.5  18.0        27      11.5
14  205223015   89.0     S  19.0  17.0        27      26.0
15  205223016   82.0     A  17.5  18.0        27      19.5
16  205223017   73.0     B  17.5  18.5        27      10.0
17  205223018   83.0     A  16.5  18.5        27      21.0
18  205223019   84.0     A  17.0  18.5        27      21.0
19  205223020   73.0     B  16.5  18.5        28      10.0
20  205223021   83.0     A  17.5  17.5        27      21.0
21  205223022   75.0     B  18.0  17.5        27      12.5
22  205223023   89.0     S  17.5  17.5        27      26.5
23  205223024   82.0     A  18.0  16.0        27      20.5
24  205223025   76.0     B  17.0  16.5        27      15.5
25  205223026   81.0     A  17.5  18.0        27      18.5
26  205223027   82.0     A  18.5  17.0        27      19.0
27  205223029   76.0     B  17.0  18.0        28      12.5