In [2]:
import pandas as pd
import warnings
import numpy as np
# import PyAstronomy as pyasl
warnings.filterwarnings("ignore")
inFile = r'D:\OneDrive - NITT\Custom_Download\DWDs.out'

df = pd.read_csv(inFile, sep='\s+',header=None)
col_name = ['m1i','m2i','porbi','beta_mt','kw1f','kw2f','agef','m1f','m2f','porbf','l1','l2','Tm1',
            'Tm2','gammaEE','count_mt','rli','count_stable1','count_ce1','two','two']
df.columns = col_name
#print(df)

In [4]:
df.T

,0,1,2,3,4,5,6,7,8,9
m1i,3.44280,1.566200,3.006000,1.424900,1.561500,2.353900,4.086500,2.298200,7.568500,1.376900
m2i,1.37040,1.437800,2.998000,1.335200,1.315600,2.043300,1.818200,1.535300,4.021000,0.978500
porbi,2246.90000,2302.000000,150.390000,651.590000,181.680000,122.990000,2460.500000,1115.300000,6729.200000,492.650000
beta_mt,-1.00000,1.000000,0.005200,0.677400,0.053300,0.569700,-1.000000,-1.000000,0.997800,-1.000000
kw1f,11.00000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,12.000000,10.000000
kw2f,10.00000,11.000000,11.000000,11.000000,11.000000,11.000000,10.000000,10.000000,11.000000,10.000000
agef,3896.60000,3167.800000,530.240000,4262.200000,3765.900000,1187.000000,1565.800000,2684.600000,117.810000,13082.000000
m1f,0.78600,0.619000,0.675000,0.589000,0.527000,0.592000,0.866000,0.594000,1.409000,0.456000
m2f,0.25100,0.595000,0.641000,0.543000,0.525000,0.679000,0.263000,0.254000,1.074000,0.220000
porbf,0.10244,83.616000,0.043075,7.867100,3.069800,1.777200,0.065855,0.060596,26.705000,0.069996
l1,0.00012,0.001065,0.013702,0.000725,0.000348,0.002195,0.000413,0.000222,0.022143,0.000109
l2,46.43100,21.421000,23.100000,19.569000,18.932000,24.468000,48.721000,47.002000,38.702000,40.709000
Tm1,323.86000,2708.500000,473.630000,3652.600000,2733.200000,947.430000,203.220000,1013.500000,47.491000,3947.400000
Tm2,3896.60000,3167.800000,530.240000,4262.200000,3765.900000,1187.000000,1565.800000,2684.600000,117.810000,13082.000000
gammaEE,-1.00000,5.292000,1.684000,2.397100,0.974940,1.399300,-1.000000,-1.000000,3.318900,-1.000000
count_mt,2.00000,2.000000,3.000000,2.000000,4.000000,2.000000,2.000000,2.000000,2.000000,2.000000
rli,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
count_stable1,0.00000,1.000000,1.000000,1.000000,3.000000,1.000000,0.000000,0.000000,1.000000,0.000000
count_ce1,1.00000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000
two,0.00000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
two,1.00000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
# !pip install PyAstronomy

In [ ]:
def mod_mestel_cooling(mass,metal,age,baryon):
    if age << 9e9:
        mod_mestel_cooling = (300.e0 * mass * metal**0.4e0) / (baryon * (age + 1.e5)*1.e-6 )**1.18e0
    else: 
        mod_mestel_cooling = 300.e0 * (9000.1e0 * baryon)**5.3e0 * mass * metal**0.4e0 / (baryon * (age + 1.e5)*1.e-6 )**6.48e0
    return mod_mestel_cooling

### this for loop is meant to give an array of the df file after we apply the above function to evolve it    
for i in range(len(df)):
    mass = df.loc[i,'m1i']
    age = df.loc[i,'agef']
    evolve = mod_mestel_cooling(mass,0.02,age,15.0)


###this function is meant to find the L2 point of every row of the inputfile
def lagrange2(inputfile):
    
    for i in range(len(df)):
        q=df.loc[i,'m2i']/df.loc[i,'m1i']
        l2, l2pot = pyasl(q)
    return l2, l2pot
lagrange2(df)
        
### this is just for testing, its not part of the code
#print(df.loc[0,'m1i'])
#print(len(df))