In [90]:
import re
import string

text = """TRADER: 20 million EURO GBP 12m
BROKER: Outright?
TRADER: yes.
"""

def get_digit(x):
    matches1 = re.findall(r'\b\d+\s*(?:million|millions)\b', x)
    matches2 = re.findall(r'\b\d+\s*(?:m)\b', x)
    return matches1[0],matches2[0]

In [75]:
text_list = text.split('\n')

In [76]:
index_outright = [indx for indx,msg in enumerate(text_list) if 'outright' in msg.lower()][0]
index_outright

1

In [77]:
a = text_list[index_outright+1].split('TRADER')[-1]
new_a = ''
for i in a:
    if i not in string.punctuation:
        new_a = new_a + i
outright_resp = new_a.strip()
outright_resp

'yes'

In [91]:
mill,mnth = get_digit(text)

In [92]:
mill

'20 million'

In [93]:
mnth

'12m'

In [83]:
curr = ['EURO GBP','EUR USD' ,'SGD MYR']
def get_cur(text):
    for cur in curr:
        if cur in text:
            return cur

In [84]:
get_cur(text)

'EURO GBP'

In [85]:
import pandas as pd

In [86]:
df = pd.DataFrame([],columns=['Currency','Months','Millions','Outright','Buy','Sell'])

In [94]:
df.loc[len(df)] = [get_cur(text),
                   mnth,
                  mill,
                   outright_resp,
                   '-',
                   '-'
                  ]

In [95]:
df

   Currency Months    Millions Outright Buy Sell
0  EURO GBP    12m  20 million      yes   -    -

# Functions

In [192]:
b = """TRADER: SGDMYR in 50
BROKER: Outright?
TRADER: yes
BROKER: 30/31 (1.3030/1.3031)
TRADER: 30"""

In [193]:
def get_ask_bid(text):
    b_list = text.split('\n')
    ask_bid = [i for i in text.split() if r"/" in i][0]
    ask_bid_indx = [indx for indx,msg in enumerate(b_list) if ask_bid in msg][0]
    ask_bid_resp = re.findall(r'\d+', b_list[ask_bid_indx+1])[0]

    ask_bid_list = ask_bid.split('/')
    if ask_bid_resp == ask_bid_list[0]:
        trade = 'BID'
    elif ask_bid_resp == ask_bid_list[1]:
        trade = 'ASK'
    else:
        trade = 'UNK'
    return trade

In [194]:
get_ask_bid(b)

'BID'

In [196]:
def get_outright(text):
    text_list = text.split('\n')
    index_outright = [indx for indx,msg in enumerate(text_list) if 'outright' in msg.lower()][0]
    a = text_list[index_outright+1].split('TRADER')[-1]
    new_a = ''
    for i in a:
        if i not in string.punctuation:
            new_a = new_a + i
    outright_resp = new_a.strip()
    return outright_resp

In [197]:
get_outright(b)

'yes'

In [198]:
curr = ['EURO GBP','EUR USD' ,'SGD MYR','SGDMYR']
def get_cur(text):
    for cur in curr:
        if cur in text:
            return cur

In [199]:
get_cur(b)

'SGDMYR'